<hr />

<div id="contribute">
  <ul>
    <li>This page shows you the set times of various clubs</li>
    <li>Music venues often don't publish the set times as they want you to arrive early to buy more drinks</li>
    <li>At every Facebook Event page, lots of user ask for the set times, this page aims to answer this question</li>
    <li>The data is user-generated, you can submit your own times</li>
  </ul>

  <h3 style="margin-top: 30px; margin-bottom: 0"><a href="mailto:settimes@krausefx.com">Submit a new venue</a></h3>
</div>
